html body {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}

.header {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;

}

.vert-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-family: 'Poiret One', cursive
}

.profile {
    height: 170px;
    width: auto;
    border-radius: 50%;
    margin-top: -60px
}

.icons {
    padding-left: 5px;
    color: #fff;
}
.icons:hover {
    color: #f44336;
}

.heading {
    color: white;
    font-family: 'Roboto Slab', serif;
    text-shadow: 0 0 .313em #fff, 0 0 .625em #fff
}

.heading-2 {
    color: #d96459;
    text-shadow: 0 0 .313em #d96459, 0 0 .625em #d96459
}

.hideIt {
    opacity: 0
}

.showIt {
    opacity: 1 !important;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out
}

#particles-js {
    /* position: static; */
    /* position: absolute; */
    z-index: -20;
    display: block;
    width: 100vh;
    height: 100vh;
    /* background-repeat: no-repeat !important; */
    background-image: url("img/bg.jpg");
    /* background-size: cover !important; */
    background-position: 50% 50%;
}
#particles-js-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    /* position: fixed; */
    background: rgba(0, 0, 0, 0.4);
}
@keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* Header bar */
header{
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:5;
    -webkit-animation-name:dropHeader;
    animation-name:dropHeader;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-timing-function:ease;
    animation-timing-function:ease;
    -webkit-animation-duration:0.75s;
    animation-duration:0.75s
}
header ul{
    background:none;
    text-align:right;
    padding:10px;
    margin:0
}
header li{
    font-size:1.2em;
    display:inline-block
}
header a{
    display:block;color:#f2f2f5;
    padding:10px
}
header a:hover{
    color:#7a7a7a;
    text-decoration:none;
    background:rgba(255,255,255,0);
    border-radius:4px
}
header a:focus{
    color:#3C3C3C;
    text-decoration:none
}
header.active{
    display:block
}
header.sticky{
    position:fixed;z-index:999
}


.belowHeader{
    padding-top: 100vh;
    color: black; 
    scroll-behavior: smooth;
}
/* div for project info */
:root {
    --cardWidth: 20%;
}
a > img{
    display: inline;
    text-align: center;;
    width: 20%;
    height: 20%;
}
 .card-box {
    margin: auto;
    margin-top: 5px;
    padding-left: 1%;
    text-align: center;
    display: flex;
    /* flex-grow: 4; */
    /*flex: auto;*/
    flex-flow: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    width: min(1200px, 90%);
    }

.card {
    text-align: left;
    margin-right: 2%;
    margin-top: 25px;
    margin-bottom: 4%;
    font-family: 'Poppins', sans-serif;
    width: 22%;
    height: 22%; 
    border-radius: 8px;
    background-color: white; 
    box-shadow: 0 15px 35px -5px hsl(0, 0%, 0%);
    transition: transform 0.1s, box-shadow 0.01s;
}
.card p {
    /* position: absolute; */
    /* margin: 10px; */
    margin-top: 10px;
    /* padding-bottom: 20px; */
    width: auto;
    text-align: center;
    /* color: darkgrey; */
    border-radius: 3px;
    border: solid blue 2px;
    padding: 5px;
    border-radius: 3px;
    font-weight: bold;
    overflow: hidden;
}
.card img {
    /* margin-top: -1vw; */
    /* margin-left: 10px; */
    aspect-ratio: 1 / 1;
    background-color: #23272A;
    width: 100%;
    border-radius: min(8px, 3%);
    margin: auto;
    margin: 0%;
    margin-top: 0;
    margin-bottom: -8px;
}
.card-image-anchor p {
    position: absolute;
    background-color: transparent;
}
.card:hover {
    transform:  scale(1.10);
    /* filter: brightness(0.5); */
    box-shadow: 0 10px 30px 0px rgb(17, 17, 17)
}
.card p {
    background-color: white;
}
.card-image-anchor {
    margin: 0;
}

.card-title {
    position: absolute;
    padding-top: 0px;
    padding-left: 1%;
    font-family: 'Nunito', sans-serif;
    color: black;
    text-align: left;
    margin: 0;
    font-size: 300%;
    margin-right: -3%;
    margin-top: -3%;
    width: 20%;
    height: 20%;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;   
}
article {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: 120%;
    border-top: 0.5px solid rgb(90, 90, 90);
    border-bottom: 4px solid blue;
    border-left: 2px solid blue;
    border-right: 2px solid blue;
    border-radius: 10px;
    /* flex-grow: .5; */
    width: 50%;
    text-overflow: ellipsis;
}
h1 a:any-link {
    color: black;
    float:left;
    padding-left: 1vw;
    font-family:  'Ubuntu', sans-serif;;
    font-weight: bold;
}
h1 a:any-link:hover {
    color: black;
    box-shadow: 3px 3px 0px 3px gray;
    padding-right: 6px;
    padding-bottom: 2px;
}
.github-contributions{
    width: auto;
    overflow: auto;
}
.contacts {
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
    /* text-align: left; */
    font-size: calc(20px + 1.5vw);
}

footer {
    text-align: center;
    color: darkgray;
    background-color: #23272A;
    padding-top: 5%;
    margin-top: 10%;
    bottom: 10px;
}
footer p {
    text-align: center;
    color: darkgray;
    bottom: 10px;
    margin-top:5vh;
}
/* mobile */
@media screen and (max-width:767px) {
    html,
    body {
        height: 100%;
        width: 100%
    }
    .profile {
        height: 120px
    }
    .icons {
        font-size: 30px;
        padding-left: 5px
    }
    .vert-text h1 {
        font-size: 2.3em
    }
    h2 {
        font-size: 1.4em
    }
    h3 {
        font-size: 1em
    }
    article {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
    .card {
        margin-right: 5%;
        width: 45%;
        height: 45%; 
        margin-bottom: 20%;
    }
    .card-image-anchor p  {
        max-width: 40%;
    }
    .github-contributions {
        width:90%;
    }
    footer {
        margin-top: 15%;
    }
}

/* @media screen and (orientation: portrait){ 
    article {
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
    }

}
@media screen and (orientation: landscape){
    article {
        margin-left: 5%;
        margin-right: 5%;
        width: 100%;
    }
} */
